doctype html 
html(lang="ko")
  head 
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    title 
      #{pageTitle} | Watermelon
  body 
    header
      ul 
        li
          a(href="/") Home 
        li
          a(href="/add") Add
    main
      block content
  include partials/footer