extends layout

block content 
  h1 Login
  if errorMessage 
    span=errorMessage
  form(method="POST")
    input(type="email",name="email", required, placeholder="Email")
    input(type="password",name="password", required, placeholder="Password")
    input(type="submit",value="Login")
  hr
  div
    span If you need an account 
    a(href="/join") &rarr;
  div
    a(href=`https://accounts.google.com/o/oauth2/auth?client_id=${googleId}&redirect_uri=${googleRedirectionUrl}&response_type=token&scope=https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile`) Google
