extends layout.pug 
include mixins/music.pug

block content 
  h1 Search 
  div 
    include partials/getForm.pug
    if musics
      each music in musics 
        +musicComponent(music)
      else 
        h3 Sorry. No found.