nav
  ul 
    li
      a(href="/") Home 
    li
      a(href="/upload") Upload
    li
      a(href="/search") Search
    li
      a(href="/play") Play
    if loggedIn 
      li
        a(href=`/user/${user._id}`) Profile
      li
        a(href="/logout") Logout
    else 
      li 
        a(href="/join") Join
      li 
        a(href="/login") Login