nav
  ul 
    li
      a(href="/setting") Home 
    li
      a(href="/upload") Upload
    li
      a(href="/search") Search
    li
      a(href="/play") Play
    if loggedIn 
      li
        a(href="/logout") Logout