.main
  .main__container
    .main__container__header
      .main__container__search
        form(action="/search")
          input(name="search" placeholder="노래,앨범,아티스트 검색").search#searchInput
          button(type="submit").fas.fa-magnifying-glass#searchBtn
      if !loggedIn 
        .main__container__login
          a(href=`https://accounts.google.com/o/oauth2/auth?client_id=${googleId}&redirect_uri=${googleRedirectionUrl}&response_type=token&scope=https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile`) Google Login
    if currentPage === "Home"
      include ./musicMain
    else 
      include ./searchMain
    
