form(method="POST")
  input(name="title",placeholder="Title", required)
  input(name="titleEng",placeholder="TitleEng", required)
  input(name="singer",placeholder="Singer",required)
  input(name="singerEng",placeholder="SingerEng",required)
  input(name="albumTitle",placeholder="Album Title",required)
  input(name="albumTitleEng",placeholder="Album Title Eng",required)
  input(name="coverImg",placeholder="Cover Image Url",required)
  input(type="submit", value="Upload")

//- post가 필요할까?
//- 검색만 사용할 듯